html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(100deg, #60e1a0, #d28ca0);
  backdrop-filter: brightness(85%);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: linear-gradient(100deg, #60e1a0, #d28ca0);
  filter: brightness(85%);
  padding: 3px 15px;
}

.navbar-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggle {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.logo img {
  height: 40px;
  width: auto;
}

.github-icon-link {
  margin-left: 15px;
}

.logo .github-icon {
  height: 25px;
  width: auto;
}

.nav-links-div-rbwr,
.nav-links-div-rpwr {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  padding: 5px;
  border: 2px solid #ff9800;
  border-radius: 10px;
  background: rgba(0, 123, 255, 0.1);
  margin: 5px 0;
}

.nav-links {
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #007bff, #ff9800);
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.nav-links:hover {
  background: linear-gradient(90deg, #ff6a00, #43a047);
  color: white;
  border-radius: 7px;
  transition: background 0.3s, color 0.3s;
}

.nav-links-divider {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  height: calc(100vh / 8);
  width: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: none;
}


.hero img {
  height: auto;
  width: 100%;
  object-fit: contain;
  filter: brightness(75%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  font-size: 1.25rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
  border-radius: 10px;
}

.credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(50, 50, 50, 0.5));
  padding: 5px 10px;
  border-radius: 5px;
}

.credits p {
  margin: 0;
  font-size: 0.75rem;
  color: #f2f2f2;
}

.credits a {
  color: #ff9800;
  text-decoration: none;
  transition: color 0.3s;
}

.credits a:hover {
  color: #007bff;
  text-decoration: underline;
}

footer {
  background: linear-gradient(30deg, #c14141, #62bf66);
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 0.875rem;
  backdrop-filter: brightness(85%);
}

@media (max-width: 480px) {
  .navbar-toggle {
    display: block;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.75rem;
    cursor: pointer;
    background: none;
    z-index: 1001;
    text-align: left;
    margin-right: calc((100vw * 5) / 6);
    padding-left: calc(100vw / 20);
  }

  .navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: none;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    z-index: 1000;
  }

  .logo {
    z-index: 1002;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar.show {
    background: linear-gradient(100deg, #60e1a0, #d28ca0);
  }

  .nav-links {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    width: calc(100vw / 2.5);
  }

  .nav-links-div-rbwr,
  .nav-links-div-rpwr {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 2px solid #ff9800;
    border-radius: 10px;
    background: rgba(0, 123, 255, 0.1);
    margin: 10px 0;
  }

  .nav-links-divider {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .hero-text {
    font-size: 0.75rem;
    width: 70%;
  }

  .credits p {
    font-size: 0.5rem;
  }

  footer {
    font-size: 0.875rem;
    padding-top: 12px;
  }

  .hero img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-height: 800px) {
  .hero img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
