html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(100deg, #60e1a0, #d28ca0);
  backdrop-filter: brightness(85%);
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar, .content, .footer {
  flex-grow: 0;
  width: auto;
}

.navbar {
  flex-basis: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(100deg, #60e1a0, #d28ca0);
  filter: brightness(85%);
  padding: 3px 15px;
}

.navbar-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggle {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.logo img, .logo a {
  height: 40px;
  width: auto;
}

.logo .github-icon {
  height: 30px;
  width: auto;
  margin-top: 5px;
  margin-left: 5px;
}

.nav-links-div-rbwr {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  padding: 5px;
  border: 2px solid #ff9800;
  border-radius: 10px;
  background: rgba(0, 123, 255, 0.1);
  margin: 5px 0;
}

.nav-links {
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  /* background: linear-gradient(90deg, #007bff, #ff9800); */
  background: rgba(255, 152, 0, 0.8);
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.nav-links:hover {
  background: linear-gradient(90deg, #ff6a00, #43a047);
  color: white;
  border-radius: 7px;
  transition: background 0.3s, color 0.3s;
}

.nav-links-divider {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.content {
  position: relative;
  text-align: center;
  color: white;
  height: calc(100vh / 8);
  width: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: none;
}

.content-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  font-size: 1.25rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
  border-radius: 10px;
}

.credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(50, 50, 50, 0.5));
  padding: 5px 10px;
  border-radius: 5px;
}

.credits p {
  margin: 0;
  font-size: 0.75rem;
  color: #f2f2f2;
}

.credits a {
  color: #ff9800;
  text-decoration: none;
  transition: color 0.3s;
}

.credits a:hover {
  color: #007bff;
  text-decoration: underline;
}

.footer {
  background: linear-gradient(30deg, #c14141, #62bf66);
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 0.875rem;
  backdrop-filter: brightness(85%);
}

@media (max-width: 730px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-toggle-button {
    display: block;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.75rem;
    cursor: pointer;
    background: none;
    z-index: 1001;
  }

  .navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60px;
    z-index: 1000;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  .navbar-links {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    display: none;
    flex-direction: column;
    z-index: 1000;
  }

  .navbar-links.show {
    display: block;
    z-index: 1000;
    margin-top: 15px;
  }

  .nav-links {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    width: calc(100vw / 2.5);
  }

  .nav-links-div-rbwr {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border: 2px solid #ff9800;
    border-radius: 10px;
    background: linear-gradient(100deg, #60e1a0, #d28ca0);
    width: calc(100vw / 2);
  }

  .nav-links-divider {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .content-text {
    font-size: 0.75rem;
    width: 70%;
  }

  .content-image {
    min-height: 100vw;
  }

  .credits p {
    font-size: 0.5rem;
  }

  .footer {
    font-size: 0.6rem;
    padding-top: 12px;
  }
}

